{
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/object-curly-spacing" : "off",
    "@typescript-eslint/space-infix-ops": "off",
    "arrow-body-style": ["error", "always"]
  }
}