.book-list__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.book-list__btn {
  width: 360px;
  margin: 0 auto;
}

@media (max-width: 380px) {
  .book-list__btn {
    width: 350px;
    margin-left: 15px;
  }
}